[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/github.com/satori/go.uuid"]
        path = vendor/github.com/satori/go.uuid
        url = https://github.com/satori/go.uuid.git
[submodule "vendor/github.com/shirou/gopsutil"]
        path = vendor/github.com/shirou/gopsutil
        url = https://github.com/shirou/gopsutil.git
